.products {
  width: 100%;
}
.filters-wrapper {
  height: 100%;
  width: 100%;
  background-color: rgb(69, 79, 97) !important;
}
.listview-p-card {
  display: flex;
}
.p-card-list-img {
  width: 26rem !important;
}
@media screen and (max-width: 720px) {
  .listview-p-card {
    flex-direction: column;
  }
}
/*=====================================SORT COMPONENT=======================================================================*/
.sort-wrapper {
  width: 100% !important;
  gap: 2rem;
  justify-content: space-between;
}
/* .sort-wrapper hr {
  flex-shrink: 1;
  flex-grow: 1;
} */
/*view btns*/
.views-btns-container {
  gap: 0.5rem;
}
.view-btn {
  width: 1.5rem;
  border-radius: var(--radius);
  height: 1.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
}
.unactive-view {
  background: transparent;
  border: 1px solid var(--txt-clr-black);
  color: var(--txt-clr-black);
}
.active-view {
  background: var(--txt-clr-black);
  color: var(--txt-clr-white);
}
.sort-wrapper form {
  width: 100%;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.sort-wrapper form > select {
  padding: 1% 3%;
  background-color: transparent;
  border: 1px solid #222;
  border-radius: var(--radius);
  cursor: pointer;
}
