.products {
  /* width: 100%; */
  position: relative;
  overflow: hidden;
}

.listview-p-card {
  display: flex;
}
.p-card-list-img {
  width: 26rem !important;
}
@media screen and (max-width: 720px) {
  .listview-p-card {
    flex-direction: column;
  }
}

.gridview-p-card {
}
/*=====================================SORT COMPONENT=======================================================================*/
.sort-wrapper {
  width: 100% !important;
  gap: 2rem;
  justify-content: space-between;
}
/* .sort-wrapper hr {
  flex-shrink: 1;
  flex-grow: 1;
} */
/*view btns*/
.views-btns-container {
  gap: 0.5rem;
}
.view-btn {
  width: 1.5rem;
  border-radius: var(--radius);
  height: 1.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
}
.unactive-view {
  background: transparent;
  border: 1px solid var(--txt-clr-black);
  color: var(--txt-clr-black);
}
.active-view {
  background: var(--txt-clr-black);
  color: var(--txt-clr-white);
}
.sort-wrapper form {
  width: 100%;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.sort-wrapper form > select {
  padding: 1% 3%;
  background-color: transparent;
  border: 1px solid #222;
  border-radius: var(--radius);
  cursor: pointer;
}
/*=========================================================================================================== */
.filters-wrapper {
  background-color: darkcyan;
  position: fixed;
}

.categories-wrapper {
  gap: 1.5rem;
}
.active-cat {
  text-decoration: underline;
  font-weight: 600;
}
/*=====================================FILTERS MODAL=======================================================================*/

.modal-opend {
  transform: translateX(0);
  transition: var(--transition-4);
  background-color: var(--section-bg-1);
}
.modal-closed {
  transform: translateX(100%);
  transition: var(--transition-4);
}
.filter-modal-wrapper {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: 0.3s all ease-in-out;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
}

/*============================colors COMPONENT===============================*/
.colors-wrapper {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.product-clr-op {
  border-radius: 50%;
  width: 1.5rem;
  cursor: pointer;
  height: 1.5rem;
  background-color: rgba(0.2);

  position: relative;
}
.clr-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.clr-checked {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}
