.nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  height: var(--nav-height);
}
.nav-bg-1 {
  background-color: var(--nav-bg-clr-t);
}
/*bg when scrolling*/
.nav-bg-2 {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);
}

.nav-container {
  justify-content: space-between;
  padding: 0.5% 0;
  position: relative;
  height: 100%;
}
.sidebar-btn {
  font-size: 1.75rem;
  display: none;
}

.links-container {
  flex-basis: 30%;
  justify-content: space-between;
  align-self: center;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--clr-grey-1) !important;
}
.links-container > li {
  display: inline-block;
  /* padding-bottom: 2%; */
  position: relative;
}

.links-container > li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--txt-clr-2);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.links-container > li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.links-container > li:focus-within a {
  color: var(--txt-clr-2) !important;
}
li:focus-within::after {
  transform: scale(1);
}

@media screen and (max-width: 990px) {
  .links-container,
  .nav-btns {
    display: none !important;
  }

  .sidebar-btn {
    display: block;
  }
}
/***************************************/

/* NAV BTNS */

.nav-btns {
  flex-basis: 15%;
  gap: 2em;
}
.nav-cart-btn svg,
.acc-btn svg {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--clr-grey-1);
  vertical-align: middle;
}
.nav-cart-btn {
  position: relative;
  display: inline-block;
}
.nav-cart-btn span {
  position: absolute;
  top: -10px;
  right: -16px;
  background: var(--txt-clr-2);
  width: 12px;
  height: 12px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--txt-clr-white);
  padding: 11px;
  vertical-align: middle;
}

.auth-options-wrapper {
  position: absolute;
  /* width: 10%; */
  bottom: -50%;
  right: 5%;
  padding: 0.8%;
  display: none;
  -webkit-box-shadow: -1px 3px 6px 0px rgb(0 0 0 / 55%);
  -moz-box-shadow: -1px 3px 6px 0px rgba(0, 0, 0, 0.55);
  box-shadow: -1px 3px 6px 0px rgb(0 0 0 / 55%);
  background-color: #fff;
  border-radius: 5px;
}

.auth-options-wrapper::before {
  content: "";
  position: absolute;
  border-radius: 1px;
  top: -5px;
  left: 8%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
}
.auth-options-wrapper div {
  width: 100%;
}
.nav-logout-btn {
  gap: 0.5rem;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--clr-grey-1);
}
.nav-auth-btn-log {
  margin-left: 0.3rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.auth-options-wrapper-clicked {
  display: block;
}

@media screen and (max-width: 1328px) {
  .auth-options-wrapper {
    right: 2.5%;
  }
}
