* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --nav-bg-clr-light: #fff;

  --transition-4: all ease 0.3s;
  --clr-grey-8: #bcccdc;
}
.app {
  /* position: relative; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li {
  text-transform: capitalize;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.nav-container > .logo > img,
.side-bar > header > a > img {
  width: 63%;
}
